body {
  background-color: #f7f1b5;
}

.madxartwork-column-wrap {
  background-color: #F7F1B5;
}

.madxartwork-button-link.madxartwork-button.madxartwork-size-sm {
  background-color: #3E2D25;
  box-shadow: 0 0 5px #111111;
}
a{color:#3E2D25}